@mixin step_checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: -5px;
  margin-top: -5px;
}

.text_wrapper {
  border-radius: 20px;
  background-color: $white;
  padding: 8px 13px;
}

.boxes_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.true_box {
  background-color: $orange;
  @include step_checkbox();
}

.false_box {
  background-color: rgba(224, 224, 224, 1);
  @include step_checkbox();
}

.user_wrappper {
  padding: 11px 14px;
}

.details_box {
  padding: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.mission_btn {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.text_dotted_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.buy_wrapper {
  width: 33px;
  height: 33px;
  border-radius: 5px;

  @include weakShadow;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: $orange;

    svg path {
      fill: $white;
    }
  }
}

.rewards_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.steps_icon_circled {
  border: 1px solid $text;
  border-radius: 100%;
  min-width: 27px;
  width: 27px;
  height: 27px;
  min-height: 27px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.steps_icon {
  height: 27px;
}

.step_block {
  cursor: pointer;

  &:hover {
    .steps_icon {
      svg path {
        fill: $orange;
      }
    }

    p {
      color: $orange !important;
    }
  }
}

.docs {
  display: flex;
  flex-direction: column;
}

.attached_file {
  gap: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 156px;
}

.file_close {
  cursor: pointer;
  width: fit-content;
  align-self: flex-end;
}

.attached_file_inner {
  border-radius: $borderRadius;
  padding: 14px;
  @include weakShadow;
}

.attached_file_sign {
  color: rgba(33, 150, 83, 1);
  font-size: 0.875rem;
  white-space: nowrap;
}

.attached_file_not_sign {
  color: rgba(1, 1, 1, 0.5);
  font-size: 0.875rem;
  white-space: nowrap;
}

.attaches {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.reward {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.trust_score {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.info_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;

  @include weakShadow;
  border-radius: 50%;
}

.steps_wrap {
  @include backgroundGradientGreyWhite;
}

@media (min-width: $tabletSize) {

  .details_box {
    padding: 18px 30px;
  }

  .boxes_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .text_dotted_wrapper {
    gap: 17px;
  }

  .text_wrapper {
    padding: 15px 20px;
  }
}
