.abs_lines {
    position: absolute;
    top: 0;
    right: 0;
}

.flex_column {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    width: 100%;
}

.green_box {
    padding: 12px 20px;
    border-radius: 20px;
    border: 1px solid $green;
}

.grid_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.border_item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    @include weakShadow;
    display: flex;
    align-items: center;
    justify-content: center;
}