/*====================================================================================================*/
.wrapper {
    max-width: 1220px;
    padding: 0px 10px;
    margin: 0 auto;
}
.top_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.top_flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.reward_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    @include weakShadow;
    border-radius: 20px;
    padding: 20px 0px;
}
.reward_absolute_item_left {
    position: absolute;
    top: 18px;
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: $orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.reward_absolute_item_right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.rewards_wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
/*====================================================================================================*/


.search_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    > input {
        padding: 8px 15px;
        font-size: 1rem;
        color: rgba($color: black, $alpha: 0.5);
        @include weakShadow;
        border-radius: 20px;
    }
}
.search_item_flex {
    align-items: center;
    display: flex;
    gap: 5px;
}
.flex_items_wrapper {
    align-items: center;
    display: flex;
    gap: 15px;
}

.absolute_box {
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    left: 50%;
}
@media (min-width:$tabletSize) {
    .rewards_wrapper {
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
    }
    .reward_wrapper {
        gap: 15px;
        padding: 30px 70px;
        text-align: center;
        flex: 0 0 277px;
    }
    .flex_items_wrapper {
        gap: 30px;
    }
    .search_wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
    /*====================================================================================================*/
    .top_flex {
        align-items: start;
    }
    .top_section {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
    /*====================================================================================================*/
}