.dropdow_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: start;

    >* {
        min-height: 40px;
    }
}

.text_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.category_wrapper {
    padding: 2px 14px;
    background-color: $text;
    border-radius: 20px;
}
@media (min-width:$tabletSize) {
    .reviews_wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .dropdow_grid {
        display: flex;
        align-items: start;
        gap: 20px;
        flex-wrap: wrap;
        padding-left: 60px;
    }
}