.chat_padding {
  padding: 20px 30px;
}

.input_abs {
  display: none;
}

.right_abs {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.input_wrapper {
  position: relative;
  margin-top: 20px;
}