@mixin filter_item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 5px;
  cursor: pointer;

  .margin {
    margin-left: auto;
  }
}

.top_part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter_item {
  @include filter_item;

  &:hover p {
    font-weight: 500;
  }
}

.filter_item__selected {
  @include filter_item;

  p {
    font-weight: 500;
  }
}

.dropdown_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wrapper_scroll {
  padding-right: 15px;
  overflow-y: auto;

  @-moz-document url-prefix() {
    scrollbar-width: thin;
    scrollbar-color: $orange $white;
  }

  &::-webkit-scrollbar {
    width: 5px;
    /* Width of the scrollbar */
    background-color: $white;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $orange;
    /* Color of the thumb */
    border-radius: 1px;
    /* Rounded corners of the thumb */
    border-radius: 20px;
  }
}

.show_more {
  cursor: pointer;
  margin-top: 15px;
}

.show_more_text {
  color: #01010150;
}

.show_more_text_hovered {
  color: $orange;
}
