.news_wrapper {
    @include weakShadow;
    border-radius: 20px;
    background-color: white;
    cursor: auto;
}

.top_filter {
    display: flex;
    align-items: stretch;
    min-height: 70px;
    border-bottom: 1px solid rgba($color: $text, $alpha: 0.1);
}
.mid_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    
}

.bottom_buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.top_filter {
    padding: 0px 15px;
}
.filter_item {
    flex-grow: 1;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 30px 15px;
}

.bottom_part {
    border-top: 1px solid rgba($color: $text, $alpha: 0.1);
}

.notification_user {
    padding: 15px 30px;
    border-radius: 20px;
    transition: 0.15s;

    &:hover {
        background-color: $white;
    }
}
.bottom_part_padding {
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}