.wrapper {
    display: flex;
    align-items: center;
    max-width: 320px;
    text-overflow: ellipsis;
}


.chevron {
    padding-left: 15px;
    padding-right: 15px;
}

.empty {
    display: none;
}
.nav_wrapper {
    display: flex;
    justify-content: center;
}
.dots {
    width: 30px;
    height: 12px;
    @include weakShadow;
    background-color: white;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.dots_not_remove {
    display: flex;
}
.dots_remove {
    display: none;
}
@media (min-width:$tabletSize) {
    .dots_not_remove {
        display: none;
    }
    .nav_wrapper {
        justify-content: start;
    }
    .empty {
        display: flex;
    }
    .wrapper {
        max-width: none;
    }
}
