@mixin button_item() {
  cursor: pointer;
  padding: 5px 14px;
  border-radius: $borderRadius;
  @include weakShadow;
}

.buttons_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.button_item {
  @include button_item();
}

.button_item_active {
  background-color: #FFF7E9;
  @include button_item();
}
