.absolute_list {
    position: absolute;
    top: calc(100% + 15px);
    right: 0;

    @include weakShadow;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 3;
    background-color: white;
    transform: translateX(35%);
    overflow: hidden;
}

.triangle {
    position: absolute;
    top: calc(100% + 7px);
    z-index: 0;
    left: 50%;
    transform: translateX(-25%);

    -webkit-filter: drop-shadow(0px 0px 18px rgb(0, 0, 0.1));
    filter: drop-shadow(0px 0px 18px rgb(0, 0, 0.1));
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.filter_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    transition: 0.15s;

    &:hover {
        background-color: $white;
    }
}