.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 80%;
  aspect-ratio: 1;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--colorActive);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--colorActive);
}

input:checked + .slider:before {
  -webkit-transform: translate(90%,-50%);
  -ms-transform: translate(90%,-50%);
  transform: translate(90%,-50%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}
.absolute_icon {
  position: absolute;
  height: 80%;
  aspect-ratio: 1;
  left: 10%;
  transition: all 0.4s ease;
  top: 50%;
  -webkit-transform: translate(80%,-50%);
  -ms-transform: translate(80%,-50%);
  transform: translate(80%,-50%);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider.round:before {
  border-radius: 50%;
}