@mixin wrapper($maxWidth: 1220px) {
  max-width: $maxWidth;
  padding: 0px 10px;
  margin: 0 auto;
}

.breadcrumbs {
  @include wrapper();
}

.title {
  @include wrapper();
}

.layout {
  @include wrapper();
}

@mixin nav_group() {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.nav_group {
  @include nav_group();
}

.nav_group_opened {
  @include nav_group();
}

.nav_root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.nav_child {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  gap: 7px;
}

.nav_child_item {
  display: inline list-item;
  padding: 5px 0;
  cursor: pointer;
}

.nav_child_title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.article_content {
  p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.dot {
  display: inline-flex;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: $orange;
}
