.wrapper {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0px 10px;
    padding-bottom: 20px;
}

.text_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.template_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    aspect-ratio: 1;
    border-radius: 50%;
    @include weakShadow;
    background-color: white;
}


.shadow_box {
    border-radius: 20px;
    @include weakShadow;
    padding: 15px;
}

.line {
    width: 15px;
    height: 1.5px;
    background-color: $text;
}
.negotiation_box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.first_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.level_choose {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.level_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    white-space: nowrap;
    align-items: center;
}

.text_box {
    border-radius: 20px;
    background-color: $white;
    padding: 8px 15px;
}
@media (min-width:$tabletSize) {
    .text_box {
        padding: 15px 20px;
    }
    .level_wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }
    .first_grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
    .shadow_box {
        padding: 25px 30px;
    }
    .template_icon {
        height: 40px;
    }
    .text_flex {
        gap: 20px;
    }
}