
.filter_text_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.filter_text {
    cursor: pointer;
}

.vertical_line {
    width: 100%;
    height: 0px;
    border: 1px solid rgba($color: $text, $alpha: 0.1);
}

.desktop_wrapper {
    position: relative;
}
.gap_20 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropdown_mobile {
    height: 30px;
    width: 30px;
    background-color: red;
}
.absolute_background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: $white;
    border-radius: 20px;
    z-index: 0;
}

.desktop_items_wrapper {
    position: relative;
    padding: 15px 19px 0px 19px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.title_wrapper_desktop {
    padding-bottom: 17px;
}
.child_wrapper_desktop {
    padding-top: 25px;
}

.flex_navbar {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.flex_space {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.navbar_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.box {
    cursor: pointer;
    user-select: none;
    width: 25px;
    height: 25px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    @include weakShadow;
}
.mobile_wrapper_all {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mobile_text {
    padding: 10px 13px;
    background-color: $white;
    border-radius: 20px;
}
.mobile_child {
    padding: 15px 14px 0px 14px;
}
.users_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.category_text {
    padding: 3px 12px;
    border-radius: 20px;
    background-color: $text;
}
.dropdown_wrapper {
    padding-left: 0px;
}
.dropdown_content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
}

.dropdown_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.node_wrapper {
    display: flex;
    align-items: center;
}

.dropdown_no_review {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media (min-width:$tabletSize) {
    .dropdown_no_review {
        align-items: center;
        flex-direction: row;
    }
    .dropdown_wrapper {
        padding-right: 55px;
        padding-left: 20px;
    }
    .dessktop_item_shell {
        display: flex;
        flex-direction: column;

        .child_wrapper_desktop {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .filter_text_wrapper {
        gap: 30px;
    }
    .flex_space {
        flex-direction: row;
        justify-content: space-between;
    }
}