
.wrapper {
    margin-top: 30px;
    width: 100%;
    padding: 30px 35px;
    background: rgb(138,131,131);
    background: radial-gradient(ellipse at center, rgba(138,131,131,1) 0%, rgba(130,132,132,1) 20%, rgba(110,111,113,1) 40%, rgba(81,81,81,1) 100%);

    
    .title {
        color: #A8A8AD;
        font-size: 1.25rem;
        text-transform: uppercase;
    }
    a {
        color: white;
    }
}

.flex_row_end {
    display: flex;
    align-items: end;
    gap: 10px;
}
.helper_padding {
    padding: 20px 30px;
}
.wrapper_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    >.second,>.third {
        display: none;
    }
}
.text_links_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.links_mobile {
    margin-top: 20px;
    .list {
        display: flex;
        gap: 15px;
    }
}
.copyright_desktop {
    display: none;
}

.second,.third{
    display: flex;
    gap: 25px;
    flex-direction: column;
    max-width: 45%;
}
.fourth {
    display: none;
}
.second,.third {
    .list {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }
}
.copiright_wrapper {
    display: flex;
    gap: 5px;
    align-items: center;

    p {
        font-size: 1rem;
        color: white;
    }
}

.copyright_mobile {
    display: block;
    margin-top: 45px;
}
.logo {
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
        opacity: 0.6;
    }
}

.list a {
    transition: 0.2s;
    color: white;
    &:hover {
        color: #A8A8AD;
    }
}
@media (min-width: $tabletSize) {
    .helper {
        bottom: 170px;
    }
    .fourth {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;
            place-items: center;
        }
    }
    .text_links_wrapper {
        display: none;
    }
    .first {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }
    .links_mobile {
        display: none;
    }
    .margin_wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }
    .wrapper_content {
        max-width:950px;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;

        >.second,>.third {
            display: flex;
        }
    }
    .copyright_mobile {
        display: none;
    } 
    .copyright_desktop {
        display: block;
    }
    .wrapper {
        padding: 50px 10px;
        margin-top: 80px;
    }
}