.top_part {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.white_box {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 8px;
        height: 8px;
    }
}

.hover_text {
    font-weight: 400;
    color: rgba($color: black, $alpha: 0.5);
    transition: 0.2s;

    &:hover {
        font-weight: 500;
        color: $text;
    }
}

@media (min-width:$tabletSize) {
    .top_part {
        flex-direction: row;
        justify-content: space-between;
    }
}