

.cards_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.inputs_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

@media (min-width:$tabletSize) {
    .cards_wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
    .inputs_wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}