.hover_wrapper.disabled { 
    display: none;
}

.hover_content {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.15s ease;
    padding: 15px;
    white-space: nowrap;
    &:hover {
        background-color: #F5F5F5;
        border-radius: 20px;
    }
}
.active {
    position: absolute;
    top: calc(100% + 35px);
    padding: 15px;
    @include weakShadow;
    z-index: 2;
    background-color: white;
}

.hover_wrapper {
    cursor: pointer;
    width: 350px;
    border-radius: 20px;
}

.category_image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    @include weakShadow;
    border-radius: 50%;

}

.categoty_text {
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex-wrap: nowrap;
}