.wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0px 10px;
    padding-bottom: 20px;
}

.text_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.active_icon {
    svg {
        fill: orange;
    }
}

.template_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    aspect-ratio: 1;
    border-radius: 50%;
    @include weakShadow;
    background-color: white;
}

.category_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.category_select {
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: white;
    padding: 6px 13px;
}
.category_active {
    background-color: $white;   
    border-radius: 20px;
}

.search_result {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 15px;
    @include weakShadow;
    border-radius: 20px;
}
.gap_20 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.select_box {
    width: 14px;
    height: 14px;
    border: 2px solid $text;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.select_box_active {
    position: relative;
    border: 2px solid $orange;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 50%;
        height: 50%;
        border: 1px solid $orange;
        border-radius: 50%;
    }
}

.select_item_switch {
    padding: 15px 20px;
    @include weakShadow;
    border-radius: 20px ;
    cursor: pointer;

}

.disabled {
    svg {
        fill: $text;
    }
}

.switch_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
@media (min-width:$tabletSize) {
    .switch_wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    .search_result {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 30px;
    }
    .category_active {
        background-color: white;
    }
    .category_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .template_icon {
        height: 40px;
    }
    .text_flex {
        gap: 20px;
    }
}