.flex_row {
  display: flex;
  align-items: center;
}

.flex_node {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 30px;
}

.statistic_text_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.statistic_text_wrapper {
  justify-content: start;
  gap: 20px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-self: flex-start;
}

.group_item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.group_title {
  color: #01010180;
  font-size: 14px;
}

.group_text {
  font-weight: 500;
}

div[data-id="dropdown"] {
  text-transform: uppercase;
  color: $orange;
  border: 1px solid $orange;
  border-radius: 20px;
  padding: 3px 14px;
  box-sizing: border-box;

  svg {
    fill: $orange;
    width: 12px;
  }
}

[data-dropDown="selected"] {
  color: $orange !important;
  letter-spacing: 1px;
  user-select: none;
}

[data-dropDown="inner"] {
  transform: translateX(-50%);
  right: auto;
  left: 50%;
}
