@mixin radio_btn {
  @include flex_column();
  align-content: center;
  width: 15px;
  min-width: 15px;
  height: 15px;
  min-height: 15px;
  border-radius: $borderRadius;

  svg {
    margin: auto;
    path {
      fill: #fff;
    }
  }
}

.radio_item {
  cursor: pointer;
  @include flex_row();
  align-items: baseline;
}

.radio_btn {
  @include radio_btn();
  box-shadow: 0px 0px 2px 1px #00000021;
  background-color: transparent;
}

.radio_btn_active {
  @include radio_btn();
  background-color: $orange;
}
