/*====================================================================================================*/
.wrapper {
    max-width: 1220px;
    padding: 0px 10px;
    margin: 0 auto;
}
.top_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.top_flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
/*====================================================================================================*/


.search_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    > input {
        padding: 8px 15px;
        font-size: 1rem;
        color: rgba($color: black, $alpha: 0.5);
        @include weakShadow;
        border-radius: 20px;
    }
}
.search_item_flex {
    align-items: center;
    display: flex;
    gap: 5px;
}
.flex_items_wrapper {
    align-items: center;
    display: flex;
    gap: 15px;
}
@media (min-width:$tabletSize) {
    .flex_items_wrapper {
        gap: 30px;
    }
    .search_wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
    /*====================================================================================================*/
    .top_flex {
        align-items: start;
    }
    .top_section {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
    /*====================================================================================================*/
}