.wrapper {
    max-width: 1220px;
    padding: 0px 10px;
    margin: 0 auto;
}

.cards_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.dropdown_item_number {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    padding: 10px 20px;
    transition: 0.15s;
    &:hover {
        background-color: $white;
    }
}
.abs_item {
    position: absolute;
    overflow: hidden;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 20px;
    @include weakShadow;
    width: 120px;

}
.grid_20 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
@media (min-width:$tabletSize) {
    .cards_wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
}