.dropdown_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.dropdown_content_user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
}

@media (min-width:$tabletSize) {
    .dropdown_text_width {
        max-width: 105px;
    }
    .dropdown_content {
        gap: 30px;
    }
}