
.opacity_wrapper {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.wrapper {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
}

.image_part {
    position: relative;
    height: 65vh;
    background: rgb(138,131,131);
    background: radial-gradient(ellipse at center, rgba(138,131,131,1) 0%, rgba(130,132,132,1) 20%, rgba(110,111,113,1) 40%, rgba(81,81,81,1) 100%);
    .logo {
        position: absolute;
        right: 0;
        left: 0;
        top: 30px;
    }
    .image {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        transform: translate(-50%,50%);
        bottom: 50%;
        img {
            max-width: 100%;
        }
    }
}
.content_part {
    padding: 20px 12px 30px 12px;
}
.first_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center {
    display: flex;
    flex-direction: column;
}

.border_input {
    position: relative;
    > input {
        width: 100%;
        padding: 20px;
        border: 1px solid rgba($color: #515151, $alpha: 0.1);
        border-radius: 20px;
        box-sizing: border-box;
    }
    > label {
        position: absolute;
        font-size: 14px;
        color: #A8A8AD;
        font-weight: 500;
        top: 0;
        left: 15px; /* Adjust this value based on your border radius */
        transform: translateY(-50%);
        background-color: white;
        padding: 0px 5px;
    }
}
.red_text {
    color: #EB5757;
}
.title {
    text-align: center;
}
.or_block {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.orange {
    color: $orange;
}

.links {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.grey_line {
    flex-grow: 1;
    height: 0px;
    border: 1px solid rgba($color: $text, $alpha: 0.1);
}

.flex_end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
@media (min-width:$tabletSize) {
    .image_part {
        flex: 0 0 30%;
        height: 100vh;
    }

    .title {
        min-width: 470px;
        text-align: start;
    }
    .content_part {
        flex: 0 0 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .first_flex {
            align-self: flex-end;
            margin-right: 120px;
        }

        .center {
            max-width: 430px;
        }
    }
    .wrapper {
        display: flex;
    }
}