.filters_wrapper {
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow-x: auto;
  gap: 20px;
  @include scrollStyles;
}

@media (min-width: $tabletSize) {

  .filters_wrapper {
    gap: 30px;
  }
}

.wrapper {
  display: flex;
  align-items: start;
  gap: 15px;
  transition: all 0.3s ease;
  position: relative;
  padding-bottom: 5px;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: rgba(81, 81, 81, 0.1);
  }
}

.flex_center {
  display: flex;
  align-items: center;
  gap: 15px;
  align-items: center;
}

.vertical_lone {
  height: 14px;
  width: 0px;
  border: 1px solid #a8a8ad;
}

.filter_item {
  user-select: none;
  transition: 0.15s;
  padding-bottom: 5px;
  position: relative;
  cursor: pointer;

  &:hover {
    color: $orange;
  }
}

.filter_active {
  color: $orange;
}

.filter_title {
  position: relative;
  padding-bottom: 6px;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    z-index: 1;
    border-radius: 10px;
    background-color: $orange;
  }
}
