.time_main_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;


        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */

  ::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
  }
}

.time_items_grid {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 200px;
    padding: 0px 8px;
    overflow-y: auto;
}

.flex_space {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    white-space: nowrap;
    flex-wrap: wrap;
    gap: 10px;
}
.dropdown_absolute {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 3;
    transition: 0.15s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.time_choose {
    padding: 8px 15px;
    @include weakShadow;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    min-width: 100px;

    svg {
        width: 15px;
        height: 7px;
    }
}

.item_grid_border {
    border-right: 1px solid rgba($color: $text, $alpha: 0.1);
}
.time_item {
    padding: 5px 10px;
    transition: 0.15s;
    white-space: nowrap;
    color: rgba($color: #000000, $alpha: 1.0);
    border-radius: 20px;
    user-select: none;
    &:hover {
        background-color: $white;
    }
}