.sponsors_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
    white-space: nowrap;
}

.user_wrapper_flex {
    flex: 0 0 130px;
}

@media (min-width:$tabletSize) {
    .sponsors_wrapper {
        flex-direction: row;
    }
}