.wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0px 10px;
}

.condition_values_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.node_after_passed_top {
    display: flex;
    align-items: center;
    gap: 15px;

    > div {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

.condition_swith_buttton {
    padding: 5px 13px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}

.tools_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include weakShadow;
    border-radius: 20px;
    padding: 20px 0px;
}
.condition_buttons {
    display: flex;
    align-items: center;
}

.tools_wrapper_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.freelance_card_wrapper {
    position: relative;
    @include weakShadow;
    padding: 25px 15px;
    border-radius: 20px;
}

.flex_node {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 30px;
}

.shell_absolute {
    position: absolute;
    transform: translateY(-50%);
    top: 0;
    left: -20px;
    padding-left: 10px;
}
.shell_absolute_right {
    position: absolute;
    transform: translateY(-50%);
    top: 0;
    right: 0;
    display: flex;
    align-items: stretch;
    gap: 1px;
}

.absolute_black {
    width: 27px;
    height: 27px;
    padding: 5px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: $text;
    transition: 0.15s;
    &:hover {
        opacity: 0.8;
    }
}
.freelance_card_content {
    position: relative;
    display: flex;
    gap: 10px;

    img {
        height: 38px;
    }
}

.active_status {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 11px;
    height: 11px;
    background-color: $green;
    border-radius: 50%;
}

.freelancer_links {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.main_part {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.left_part {
    flex: 0 0 100%;
}
.right_part {
    flex: 0 0 100%;
}

.gap_10,
.gap_30,
.gap_5 {
    display: flex;
    align-items: center;
}
.review_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.gap_10 {
    gap: 10px;
}
.gap_30 {
    gap: 30px;
}
.gap_5 {
    gap: 5px;
}

.margin_mobile {
    margin-left: auto;
}
.justify_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details_dotted_text_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.box_black {
    padding: 2px 13px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $text;
    width: fit-content;
}

.questions_answers {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right_part_item {
    padding: 15px 13px;
    @include weakShadow;
    border-radius: 20px;
    background-color: white;
}
@media (min-width:$tabletSize) { 

    .main_part {
        flex-wrap: nowrap;
    }
    .right_part_item {
        padding: 30px 25px;
    }
    .review_wrapper {
        justify-content: space-between;
    }
    .margin_mobile {
        margin-left: 0;
    }
    .main_part {
        gap: 80px;
    }
    .left_part {
        flex: 0 0 70%;
    }
    .right_part {
        flex: 0 0 30%;
    }
    .active_status {
        width: 17px;
        height: 17px;
    }
    .freelance_card_content {
        gap: 20px;

        img {
            height: 92px;
        }
    }
    .freelance_card_wrapper {
        padding: 35px 30px;
    }
    .tools_wrapper_section {
        gap: 30px;
    }
    .condition_values_wrapper {
        gap: 25px   ;
    }
}