.desktop_left_bar_wrapper {
  background-color: #333333;
  padding: 20px 0px 50px 0px;
  overflow: hidden;
}

.pages_scroll {
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding-bottom: 100px;
  @include scrollStyles;
}

.dropdown_link {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.background_color {
  background-color: #4a4a4a;
}

.page_link {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-right: 50px;
  padding-left: 50px;
  gap: 10px;

  p {
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.event_indicator {
  width: 7px;
  height: 7px;
  background-color: $orange;
  border-radius: 100%;
}

.event_counter {
  color: $orange;
}

@media (min-width: $tabletSize) {

  .desktop_left_bar_wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: var(--sideBarDesktopWidth);
  }

  .desktop_right_wrapper {
    position: fixed;
    top: 0;
    left: 20%;
    right: 0;
  }

  .content_padding {
    padding-left: 50px;
    padding-right: 50px;
  }

  .content {
    margin-left: var(--sideBarDesktopWidth);
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
