.box {
  padding: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.text_dotted_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.flex_space_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: $tabletSize) {
  .text_dotted_wrapper {
    gap: 17px;
  }
}
