.dropdow_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: start;

  > * {
    min-height: 40px;
  }
}

.text_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.category_wrapper {
  padding: 2px 14px;
  background-color: $text;
  border-radius: 20px;
}

.user_card {
  padding: 10px 15px;
  border-radius: 20px;

  @include weakShadow;
  max-width: 390px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrowMenu {
  cursor: pointer;
  @include hoverable();
  border-radius: 100%;
  border: 1px solid #00000021;
  min-width: 29px;
  min-height: 29px;
  margin: auto;
  @include flex_column();
  svg {
    margin: auto;
  }
}

.answer_row {
  padding: 20px 0;
  padding-left: 0px;
  @include flex_column(20px);
  align-items: flex-start;
  justify-content: flex-start;
}

.answer_col {
  flex-grow: 1;
}

.hover_link {
  cursor: pointer;
  @include hoverable();
}

@media (min-width: $tabletSize) {

  .reviews_wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .dropdow_grid {
    display: flex;
    align-items: start;
    gap: 20px;
    flex-wrap: wrap;
  }

  .answer_row {
    padding: 35px 0;
    padding-left: 35px;
    @include flex_row(46px);
    justify-content: space-between;
  }
}
