.wrapper {
  @include weakShadow;
  padding: 15px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.update_bg {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.update_rm {
  cursor: pointer;
}

@media (min-width: $tabletSize) {
  .wrapper {
    padding: 25px 30px;
    align-items: start;
    max-width: 335px;
  }
}
