.top_gap_30_15 {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0px;
}
.wrapper {
    max-width: 100%;
    overflow-x: hidden;
}

.scroll_bar {
    overflow-x: auto;
    border-bottom: 1px solid rgba($color: $text, $alpha: 0.1);
}


.white_box {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 8px;
        height: 8px;
    }
}

.hover_text {
    font-weight: 400;
    color: rgba($color: black, $alpha: 0.5);
    transition: 0.2s;

    &:hover {
        font-weight: 500;
        color: $text;
    }
}

.flex_3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.top_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:    10px;
}

.buttons_top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobile_padding {
    padding: 0px 10px;
}
@media (min-width:$tabletSize) {
    .mobile_padding {
        padding: 0px;
    }
    .wrapper {
        padding: 0px 50px;
    }
    .buttons_top {
        gap: 20px;
    }
    .top_part {
        justify-content: start;
        flex-direction: row;
        gap: 20px;
    }
    .scroll_bar {
        
    }
    .top_gap_30_15 {
        padding: 30px 0px;
        gap: 30px;
    }
}