.dark_box {
    padding: 5px 13px;
    border-radius: 20px;
    background-color: $text;
    display: flex;
    align-items: baseline;
    gap: 5px;
    justify-content: center;
    transition: 0.2s;
    &:hover {
        opacity: 0.8;
    }

    svg {
        width: 8px;
        height: 6px;
    }
}