.dots {
    display: flex;
    flex: 1;
    border-bottom: 2px dotted var(--dotsColor);
}

.info_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    @include weakShadow;
    border-radius: 50%;
}
.wrapper {
    display: flex;
    align-items: end;
}