
.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
    flex-direction: column;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    order: 2;
}
.chevron {
    order: 1;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    @include weakShadow;
    border-radius: 50%;
    transition: 0.2s;
    &:hover {
        background-color: $orange;
    }
}
.right_text {
    align-items: center;
    text-align: center;
}
.left_text {
    align-items: center;
    text-align: center;
}

@media (min-width:$tabletSize) {
    .left_text {
        align-items: start;
    }
    .right_text {
        align-items: end;
    }
    .wrapper {
        flex-direction: row;
    }
    .chevron {
        order: 3;
        width: 40px;
        height: 40px;
    }
}