.slider_item {
    padding: 18px 20px;
    border-radius: 20px;
    background-color: $white;
    border: 1px solid rgba($color: $text, $alpha: 0.1);

    display: flex;
    align-items: center;
    gap: 10px;

    position: relative;
    cursor: pointer;
}

.absolute_close {
    transition: all 0.3s ease;
    position: absolute;
    top: 7px;
    right: 10px;
}