.text_wrapper {
  border-radius: 20px;
  background-color: $white;
  padding: 8px 13px;
}

.boxes_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.true_box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $orange;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.user_wrappper {
  padding: 11px 14px;
}

.details_box {
  padding: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.text_dotted_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.buy_wrapper {
  width: 33px;
  height: 33px;
  border-radius: 5px;

  @include weakShadow;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $orange;

    svg path {
      fill: $white;
    }
  }
}

.rewards_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.reward {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.trust_score {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.info_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;

  @include weakShadow;
  border-radius: 50%;
}

.mission_btn {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.add_milestone {
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.link_hover {
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

@media (min-width: $tabletSize) {

  .details_box {
    padding: 18px 30px;
  }

  .boxes_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .text_wrapper {
    padding: 15px 20px;
  }
}
