.message_item {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid rgba($color: $text, $alpha: 0.1);
}

.message_flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper_top {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.flex_column_details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  gap: 10px;
  align-items: center;
}

.message_selected {
  .message_item {
    border-color: #e7ecef;
    background-color: #eef4f7 !important;
    p {
      color: #a8a8a8;
      text-decoration-line: line-through;
    }
  }
}
