@mixin wrapper() {
  min-height: 45px;
  display: flex;
  padding: 0px 12px;
  width: 100%;
  align-items: center;
}

.wrapper {
  @include wrapper();
}

.wrapp_bg {
  @include backgroundGradientGreyWhite;
  @include wrapper();
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 1220px;
  padding: 20px 10px;
  margin: 0 auto;
}

.mobile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.titles_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop {
  display: none;
}

.link {
  &:hover {
    opacity: 0.8;
  }
}

@media (min-width: $tabletSize) {
  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

  .content {
    padding: 33px 10px;
    padding-bottom: 25px;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
}
